@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--blue);
}

.hero-introduction h3 {
  font-weight: 600;
  color: #a5c4f8;
  font-size: calc(30 / 16 * 1rem);
}

.hero-introduction h1 {
  font-weight: 700;
  color: var(--white);
  font-size: calc(80 / 16 * 1rem);
}
.hero-introduction h2 {
  font-weight: 700;
  color: #2c559d;
  font-size: calc(70 / 16 * 1rem);
  margin-bottom: 20px;
}

.hero-introduction a {
  cursor: pointer;
  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  width: 130px;
  padding: 8px 30px;
  background: none;
  border-radius: 5px;
  color: var(--white);
  transition: all 0.3s ease;
  border: 2px solid var(--white);
}

.hero-introduction a:hover {
  background: rgba(255, 255, 255, 0.179);
}

.code {
  width: 430px;
  padding: 30px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: var(--white);
  color: var(--blue);
}

.code p {
  font-size: 0.95rem;
  line-height: 2.2;
}

.thick {
  font-weight: 600;
}

/* Social(Media) */
.social,
.social:visited {
  right: 40px;
  width: 20px;
  z-index: 100;
  bottom: 30px;
  height: 150px;
  display: flex;
  position: fixed;
  flex-direction: column;
}

.social svg {
  margin-top: 10px;
  color: var(--white);
  transition: all 0.3s ease;
  font-size: calc(23 / 16 * 1rem);
}

.social svg:hover {
  color: rgba(255, 255, 255, 0.905);
  transform: translateX(-5px);
}

.social .tiktok svg {
  font-size: calc(24 / 16 * 1rem);
}

.svg-active a svg {
  color: var(--dark-grey);
}

.svg-active a svg:hover {
  color: var(--blue);
}

@media screen and (max-width: 1220px) {
  .code {
    width: 390px;
  }

  .code p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 1160px) {
  .hero-introduction h3 {
    font-size: calc(25 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(60 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(60 / 16 * 1rem);
  }

  .hero-introduction a {
    font-size: calc(18 / 16 * 1rem);
    width: 130px;
    padding: 8px 20px;
  }

  .code {
    width: 370px;
  }

  .code p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1048px) {
  .hero-introduction h3 {
    font-size: calc(23 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(50 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(50 / 16 * 1rem);
  }

  .code {
    width: 365px;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .hero-introduction {
    margin: 0 auto 100px auto;
    text-align: center;
  }

  .hero-introduction h3 {
    font-size: calc(25 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(55 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(55 / 16 * 1rem);
  }

  .code {
    margin: 0 auto;
    width: 370px;
  }
}

@media screen and (max-width: 746px) {
  .hero-introduction h3 {
    font-size: calc(22 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(50 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(50 / 16 * 1rem);
  }
}

@media screen and (max-width: 620px) {
  .hero-introduction h3 {
    font-size: calc(20 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(45 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(45 / 16 * 1rem);
  }

  .hero-introduction a {
    font-size: 1rem;
    width: 100px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 575px) {
  .social {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .hero-introduction h3 {
    font-size: calc(18 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(40 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(40 / 16 * 1rem);
  }

  .hero-introduction a {
    font-size: 1rem;
    width: 100px;
    padding: 6px 15px;
  }

  .code {
    margin: 0 auto;
    width: 350px;
  }

  .code p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-introduction h3 {
    font-size: calc(18 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(35 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(35 / 16 * 1rem);
  }

  .hero-introduction a {
    font-size: 0.9rem;
    padding: 7px 15px;
  }

  .code {
    width: 330px;
  }

  .code p {
    font-size: 0.71rem;
  }
}

@media screen and (max-width: 380px) {
  .hero-introduction h3 {
    font-size: calc(18 / 16 * 1rem);
  }

  .hero-introduction h1 {
    font-size: calc(30 / 16 * 1rem);
  }
  .hero-introduction h2 {
    font-size: calc(30 / 16 * 1rem);
  }

  .hero-introduction a {
    font-size: 0.9rem;
    padding: 7px 10px;
  }

  .code {
    width: 326px;
  }

  .code p {
    font-size: 0.7rem;
  }
}
